<!-- your html code here -->
    <div class="container mt-3" style="background-color: white;" >
        <h1>Contact</h1>
        <p>Is simply dummy text of the printing and typesetting industry. It was popularised in the 1960s.Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
 
      <div class="form-control" style="background-color:#E6E6FA;">
        
        <form action="submit">
          <div class="mb-3 mt-3">
            <label for="email"> <strong> Your E-mail</strong></label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
          </div>
          <br></br>

          <div class="form-group">
            <label for="exampleFormControlTextarea1"> <strong> Your message</strong> </label>
            <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Enter your message" rows="3"></textarea>
          </div>
          <br></br>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    
      </div> 
    </div>
      
    </body>
</html>

