<div class="container second-heading-container">
    <hr />
    <div class="d-flex flex-row">
      <div class="second-heading">
        <h2>
          <strong>The First Heading</strong>
          <strong class="text-muted"> Will Catch Your Eye.</strong>
        </h2>
        <p>
          Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligua
          porta felis euismod semper. Praesent commodo cursis magna, vel
          scelerisque nisl consectetur. Fisce dapibus, tellus ac cursus commodo.
        </p>
      </div>
      <img src="../assets/img/1.jpg" height="300" alt="" />
    </div>
  </div>