<!-- your html code here -->
<div class="container-fluid bg-white p-3 ps-5">
    <div class="container ms-5 ps-5">
        <div class="row">
            <div class="col-12">
                <h3>Porfolio</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae voluptatem, ea harum maiores magnam,
                    itaque ducimus est voluptates incidunt blanditiis quae autem nemo animi? Repellat sint nihil
                    voluptatum
                    iusto eius. Lorem ipsum dolor</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img src="https://fondosmil.com/fondo/9853.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-primary">Project Name</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                            to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img src="https://fondosmil.com/fondo/9853.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-primary">Project Name</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                            to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img src="https://fondosmil.com/fondo/9853.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-primary">Project Name</h5>
                        <p class="card-text">his is a longer card with supporting text below as a natural lead-in
                            to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>