<!-- your html code here -->
<!-- <p>Hello, I'm the services.html</p>
<p>Hello, I'm the services section and I was loaded using ajax from templates/services.html</p> -->
<div class="container-fluid bg-white pb-3 pt-3">
    <div class="row bg-white p-50px text-dark">
        <div class="col-4">
            <img  src="https://picsum.photos/id/1/250/250" class="rounded-circle rounded float-end" alt="computadora">
        </div>
        <div class="col-8">
            <div class="d-flex">
                <h3>The Second Heading</h3> 
                &nbsp;
                <h3 class=" text-secondary">It is Pretty Cool Too.</h3>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga velit commodi exercitationem laborum veniam quaerat accusamus at, praesentium dolorem obcaecati voluptas tempora sint odit sequi aperiam nemo? Doloribus, beatae suscipit!</p>
        </div>
    </div>
</div>